.login{
    position: absolute;
    top: 1%;
    right: 3%;
}
.logo{
    height:7vh
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to the full viewport height */
  }
  
  .centered-text {
    text-align: center;
    color: white;
    margin-top: 20px; /* Adjust as needed */
  }
  